.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .mat-mdc-row:active .mat-mdc-cell{
    background-color: rgba(25, 118, 210, 0.2) !important;
    transition: background-color 0.1s ease-in-out;
  }