<div class="container my-4">
    <h1 class="text-center mb-4">انشاء طلب جديد</h1>
    <form class="bg-light p-4 rounded shadow-sm" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
        <div class="row mb-4">
            <div class="col-md-6 mb-3">
                <mat-form-field class="w-100">
                    <mat-label>نوع الطلب</mat-label>
                    <mat-select formControlName="requestType">
                        <mat-option value="OneYear">سنة</mat-option>
                        <mat-option value="ThreeYears">ثلاث سنوات</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-6 mb-3">
                <mat-form-field class="w-100">
                    <mat-label>نوع الدعم المطلوب</mat-label>
                    <mat-select formControlName="supportType">
                        <mat-option value="FinancialAndConsultation">أرغب بالحصول على فترة تفرغ لريادة الأعمال والاستفادة من حزمة المحفزات المادية و المعرفية</mat-option>
                        <mat-option value="Financial">أرغب بالحصول على فترة تفرغ لريادة الأعمال فقط دون الاستفادة من حزمة المحفزات المادية و المعرفية</mat-option>
                        <mat-option value="Consultation">أرغب بالحصول على فترة تفرغ لريادة الأعمال والاستفادة من الدعم المعرفي فقط</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h3 class="h5 mb-0"> ما هي طبيعة النشاط التجاري الذي تعمل به</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <mat-form-field class="w-100">
                            <mat-label>الباب</mat-label>
                            <mat-select formControlName="businessActivitySector">
                                @for (sector of sectorsList; track $index) {
                                    <mat-option value="{{sector}}">{{sector}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 mb-3">
                        <mat-form-field class="w-100">
                            <mat-label>القسم</mat-label>
                            <mat-select formControlName="businessActivityDivision">
                                @for (division of divisionsList; track $index) {
                                    <mat-option value="{{division}}">{{division}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h6 class="card-title">هل النشاط التجاري الذي تمارسه له علاقة مباشرة او غير مباشرة بنشاط الجهة</h6>
                <mat-radio-group aria-label="Select an option" class="d-flex gap-3 mt-3" formControlName="businessRelatedToOrg">
                    <mat-radio-button value="true">نعم</mat-radio-button>
                    <mat-radio-button value="false">لا</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="mb-4">
            <mat-form-field class="w-100">
                <mat-label>عنوان الفكرة الريادية</mat-label>
                <input matInput class="form-control" formControlName="planTitle">
            </mat-form-field>
        </div>

        <div class="mb-4">
            <mat-form-field class="w-100">
                <mat-label>طبيعة نشاط التجارة و علاقته بالجهة</mat-label>
                <textarea matInput class="form-control" rows="3" formControlName="businessNature"></textarea>
            </mat-form-field>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h6 class="card-title">هل لديك أقارب حتى الدرجة الرابعة في الجهة</h6>
                <mat-radio-group aria-label="Select an option" class="d-flex gap-3 mt-3" formControlName="hasRelatives">
                    <mat-radio-button value="true">نعم</mat-radio-button>
                    <mat-radio-button value="false">لا</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        @if (showRelativesList) {
             <div class="d-flex">
                 <h6>قائمة الاقارب</h6>
                 <button class="btn btn-primary rounded-cricle" (click)="onAddRelative()">+</button>
             </div>
            <div class="shadow-sm border border-primary" formArrayName="relativeEmployees">
                <!-- @for (item of relativesList; track $index) { -->
                <div class="card-body" *ngFor="let item of relativesList; let i = index;">
                    <div class="row" [formGroupName]="i">
                        <div class="col-md-3 mb-3">
                            <mat-form-field class="w-100">
                                <mat-label>الاسم</mat-label>
                                <input matInput formControlName="name">
    
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3">
                            <mat-form-field class="w-100">
                                <mat-label>الادارة</mat-label>
                                <input matInput formControlName="unitName">
    
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3">
                            <mat-form-field class="w-100">
                                <mat-label>المسمى الوظيفي</mat-label>
                                <input matInput formControlName="positionTitle">
    
                            </mat-form-field>
                        </div>
                        <div class="col-md-2 mb-3">
                            <mat-form-field class="w-100">
                                <mat-label>المرتبة</mat-label>
                                <input matInput formControlName="positionGrade">
                            </mat-form-field>
                        </div>

                        <div class="col-md-1 mb-3 align-middle">
                            <button class="btn btn-danger" (click)="onRemoveRelative(i)">-</button>
                        </div>
                    </div>
                </div>
            <!-- } -->
            </div>
        }

        <div class="mb-4">
            <h3 class="d-flex justify-content-center">خطة العمل</h3>
            <mat-form-field class="w-100">
                <mat-label>خطة العمل</mat-label>
                <textarea matInput class="form-control" rows="3" formControlName="workPlan"></textarea>
            </mat-form-field>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2">ارسال</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">الغاء</button>
        </div>
    </form>
</div>