<div class="container">
  
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      

      
      <div class="col-12 col-md-6 col-lg-4">
        @if (authenticatedEmail) {
          <div class="alert alert-success">
            <p>you are authenticated as</p>
            <p>{{authenticatedEmail}}</p>
            <button type="button" class="btn btn-danger" (click)="onLogout()"> logout</button>
          </div>
        }
        @if (error && !isLoading) {
          <div class="alert alert-danger">
            <p>{{error}}</p>
          </div>
        }
        @if(isLoading){
          <app-spinner></app-spinner>
      }
          <h2 class="text-center mb-4">{{isLoginMode?'login':'signup'}}</h2>
          <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email"/>
              @if(!isEmailValid){
                <div class="alert alert-danger mt-2" >
                  <p>email is not valid</p>
                </div>
              }
            </div>
            
            <div formGroupName="passwords">
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password" formControlName="password" />
            @if(!isPasswordValid && !isLoginMode){
              <div class="alert alert-danger mt-2" >
                <h6>password is not valid</h6>
                <p>your password must be at least 6 characters long and includes:</p>
                <ul>
                  <li>at least one uppercase letter</li>
                  <li>at least one lowercase letter</li>
                  <li>at least one number</li>
                  <li>at least one special character</li>
                </ul>
              </div>
            }
            </div>
            @if(!isLoginMode){
              <div class="mb-3">
                <label for="confirm-password" class="form-label">confirm password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Enter your password" formControlName="confirmPassword" />
              </div>
              @if (!isConfirmPasswordValid) {
                <div class="alert alert-danger mt-2" >
                  <p>passwords do not match</p>
                </div>
              }
            }
          </div>

            <button type="button" class="btn btn-link w-100" (click)="onSwitchMode()">{{isLoginMode?'New User? Sign Up':' Have an Account? Login'}} </button>
            <button type="submit" class="btn btn-primary w-100" [disabled]="isButtonDisabled">{{isLoginMode?'login':'signup'}}</button>
          </form>
        </div>
    </div>
    
  </div>
  